h1,h2
{
    text-align: center;
}
p
{
    text-align: center;
    width: 400px;
    margin: auto;
}
#little
{
    color: #8599A6;
    font-size: 14px;
}
.img
{
    text-align: center;
    
    margin: auto;
}
img
{
    width: 400px;
    border: 1px solid gray;
}